body{
   
  background:  url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Bob-Marley.jpg/440px-Bob-Marley.jpg") no-repeat fixed center; 
  background-size: cover;
   background-color: rgba(255, 255, 255, 0.7);
 background-blend-mode: lighten;
  position: center;

} 
h2{
  color: red;
   background-color: #99ffcc;
    
}

h1{
  color: #3399ff;
  background-color:red;
}
p{
  color: darkgreen;
  background-color: lightblue
}
h3{
  color: lightblue;
  background-color: darkgreen;
}
h4{
  color: purple;
  Background-color:lightgreen;
}
form{
  background-color:lightgreen;
  width: 180px;
}